# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Environnements virtuels
env/
venv/
.venv
ENV/

# Flask
instance/
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Secrets et configuration
.env
*.secret

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
htmlcov/
.coverage
*.cover

# Bases de données
projets.db
*.db

# Pre-commit
.pre-commit-config.yaml.backup
config.py
